@font-face {
	font-family: "Futura Condensed PT Medium";
	font-style: normal;
	font-weight: normal;
	src: local("Futura Condensed PT Medium"), url("fonts/futura-condensed-pt-medium.woff") format("woff");
}

@font-face {
	font-family: "Futura Condensed PT Medium Oblique";
	font-style: italic;
	font-weight: normal;
	src: local("Futura Condensed PT Medium Oblique"), url("fonts/futura-condensed-pt-medium-oblique.woff") format("woff");
}

* {
	min-width: 0;
	min-height: 0;
}

:root {
	--wheel-height-percent-of-page: 86;
	--hub-height-percent-of-page: 23;
	--color-body-text: #b3b4b4;
	--color-background-left: #522a48;
	--color-background-left-gradient: #77aebf;
	--color-background-right: #103054;
	--color-background-right-gradient: #95ac3c;
	--color-wheel-topic-1: #7fab40;
	--color-wheel-topic-2: #a6c3c9;
	--color-wheel-topic-3: #442968;
	--color-wheel-topic-4: #f79321;
	--color-wheel-topic-5: #d3c0ab;
	--color-wheel-topic-6: #5f3415;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 1.5vh;
}

body {
	display: flex;
	align-items: center;
	font-family: "Futura Condensed PT Medium", Arial, sans-serif;
}

svg text {
	fill: white;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 50%;
		height: 100%;
	}

	&::before {
		left: 0;
		background: radial-gradient(circle closest-corner at center right, var(--color-background-left-gradient) 0%, var(--color-background-left) 120%);
	}

	&::after {
		background: radial-gradient(circle closest-corner at center left, var(--color-background-right-gradient) 0%, var(--color-background-right) 120%);
		right: 0;
	}
}

.top-dot-buttons {
	position: absolute;
	margin: auto;
	width: 0;
	left: 0;
	right: 0;
	top: 0;
	--min-gap-from-wheel: calc(-1vh * var(--wheel-height-percent-of-page) / 2 * 1.5);
	--gap-from-wheel: min(calc(-50vw * 0.95), var(--min-gap-from-wheel));

	.instructions {
		white-space: nowrap;
		position: absolute;
		color: var(--color-body-text);
		font-size: 1.5rem;
		left: var(--gap-from-wheel);
		margin-top: 1rem;
	}

	.column {
		display: flex;
		flex-direction: column;
		position: absolute;
		color: var(--color-body-text);
		line-height: 1.1;
		margin-top: 4rem;

		.experience {
			display: flex;
			flex-direction: column;
			position: relative;
			padding: 0;
			margin: 0;
			border: 0;
			padding: 0.5rem;
			border-radius: 0.5rem;
			margin-left: calc(2.5rem + 1rem - 0.5rem);
			width: fit-content;
			cursor: pointer;
			background: none;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			color: inherit;
			transition: background-color 0.1s ease-out;

			&:hover {
				background: rgba(255, 255, 255, 0.1);
			}

			&:first-of-type {
				margin-top: -0.5rem;
			}

			span {
				white-space: nowrap;
				font-size: 1.33rem;
				text-align: left;

				&:first-of-type {
					color: white;
					font-size: 1.5rem;
				}
			}

			&::before {
				content: "";
				width: 2.5rem;
				height: 2.5rem;
				border: 0.1rem solid white;
				box-sizing: border-box;
				background: var(--color);
				border-radius: 50%;
				position: absolute;
				top: 0.5rem;
				left: calc(-1 * (2.5rem + 1rem - 0.5rem));
				box-shadow: 0 0 0 0rem white, 0 0 0 0rem var(--color);
				transition: box-shadow 0.5s ease-in-out;
			}

			&.active::before {
				box-shadow: 0 0 0 0.4rem white, 0 0 0 0.5rem var(--color);
			}
		}

		&.left {
			left: var(--gap-from-wheel);
		}

		&.right {
			right: var(--gap-from-wheel);
		}
	}
}

.perception-axis-label {
	display: flex;
	justify-content: space-between;
	position: absolute;
	margin: auto;
	width: 0;
	left: 0;
	right: 0;

	div {
		position: absolute;
		padding: 4px 16px;
		border-radius: 16px;
		font-size: 1.5rem;
		line-height: 1.2;
		color: var(--color-body-text);
		text-align: center;
		transform: translateY(-50%);
		user-select: none;
		--gap-from-wheel: calc(1vh * var(--wheel-height-percent-of-page) / 2 * 1.125);

		&.left {
			right: var(--gap-from-wheel);
			background: var(--color-background-left);

			&::after {
				content: "";
				right: -100%;
				transform: translateX(50%) scale(200%);
			}
		}

		&.right {
			left: var(--gap-from-wheel);
			background: var(--color-background-right);

			&::before {
				content: "";
				left: -100%;
				transform: translateX(-50%) scale(200%);
			}
		}

		&::before,
		&::after {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
			height: 0;
			border-top: 1px dotted #9c9fa1;
		}
	}
}

.bottom-info-labels {
	position: absolute;
	margin: auto;
	width: 0;
	left: 0;
	right: 0;

	.column {
		display: flex;
		flex-direction: column;
		position: absolute;
		user-select: none;
		color: var(--color-body-text);
		line-height: 1.1;
		margin-top: 4rem;
		--min-gap-from-wheel: calc(-1vh * var(--wheel-height-percent-of-page) / 2 * 1.5);
		--gap-from-wheel: min(calc(-50vw * 0.95), var(--min-gap-from-wheel));

		.category {
			display: inline-block;
			font-size: 0;

			+ .category {
				margin-top: 1rem;
			}

			span {
				white-space: nowrap;
				font-size: 1.33rem;

				&:first-of-type {
					color: white;
					margin-right: 0.5rem;
				}
			}

			&.side-by-side {
				display: flex;

				span:first-of-type {
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					span {
						display: block;
					}
				}

				svg {
					align-self: center;
					fill: rgba(255, 255, 255, 0.4);
					height: 5.125rem;
					margin-left: -1rem;
					margin-right: 0.25rem;
				}
			}
		}

		&.left {
			left: var(--gap-from-wheel);
		}

		&.right {
			right: var(--gap-from-wheel);
		}
	}
}

.wheel {
	display: flex;
	justify-content: center;
	position: relative;
	pointer-events: none;
	width: 100%;
	height: calc(var(--wheel-height-percent-of-page) * 1vh);

	svg {
		display: block;
		position: absolute;
		width: auto;
		height: 100%;
		overflow: visible;

		text {
			user-select: none;
			pointer-events: none;
		}

		.slices {
			border-radius: 50%;
			pointer-events: auto;
		}

		.category-separators {
			overflow: visible;
		}

		.category-labels {
			text-anchor: middle;
			font-size: 0.4rem;
		}

		.hub {
			text {
				text-anchor: middle;
				font-size: 0.45rem;
			}

			.experience-name {
				fill: var(--experience-color);
				opacity: 0;
				transition: opacity 0.5s ease-in-out;

				.experience-stats-open & {
					opacity: 1;
				}
			}
		}

		.experience-stats {
			fill: white;
			stroke: var(--experience-color);
			stroke-width: 0.125rem;

			circle {
				r: 24;
				transition: r 0.5s ease-in-out;
			}

			line {
				stroke-width: 0.15rem;
				stroke-linecap: round;
				stroke-dasharray: 60 1000;
				stroke-dashoffset: 60;
				transition: stroke-dashoffset 0.5s ease-in-out;
			}

			.experience-stats-open & {
				circle {
					r: 88;
				}

				line {
					stroke-dashoffset: calc(60 - 28 - min(var(--stat-value) * 6 - 1.5, 58));
				}
			}
		}

		.rings {
			circle {
				opacity: 0.15;
				fill: none;
				stroke: white;
				stroke-width: 0.02rem;
				transition: stroke 0.5s ease-in-out, opacity 0.5s ease-in-out;
			}

			text {
				font-size: 0.25rem;
				fill: white;
				transition: fill 0.5s ease-in-out;

				+ text {
					text-anchor: end;
				}
			}

			.experience-stats-open & {
				circle {
					stroke: black;

					&.ring-10 {
						opacity: 0;
					}
				}

				text {
					fill: black;
				}
			}
		}
	}
}
