@font-face {
	font-family: "Futura Condensed PT Medium";
	font-style: normal;
	font-weight: normal;
	src: local("Futura Condensed PT Medium"), url("fonts/futura-condensed-pt-medium.woff") format("woff");
}

@font-face {
	font-family: "Futura Condensed PT Medium Oblique";
	font-style: italic;
	font-weight: normal;
	src: local("Futura Condensed PT Medium Oblique"), url("fonts/futura-condensed-pt-medium-oblique.woff") format("woff");
}

* {
	min-width: 0;
	min-height: 0;
	user-select: none;
}

:root {
	--circle-shadow: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
	--wheel-height-percent-of-page: 86;
	--hub-height-percent-of-page: 23;
	--wheel-background-height-percent-of-page: 97;
	--color-background: #20375a;
	--color-wheel-background-left: #4c7a83;
	--color-wheel-background-left-text: #6aa7a9;
	--color-wheel-background-right: #7e77ab;
	--color-wheel-background-right-text: #9a8fc4;
	--color-wheel-topic-1: #7fab40;
	--color-wheel-topic-1-hover: #bfd5a0;
	--color-wheel-topic-2: #a6c3c9;
	--color-wheel-topic-2-hover: #d3e1e4;
	--color-wheel-topic-3: #442968;
	--color-wheel-topic-3-hover: #a294b4;
	--color-wheel-topic-3-text: #9a8fc4;
	--color-wheel-topic-4: #f79321;
	--color-wheel-topic-4-hover: #fbc990;
	--color-wheel-topic-5: #d3c0ab;
	--color-wheel-topic-5-hover: #e9e0d5;
	--color-wheel-topic-6: #5f3415;
	--color-wheel-topic-6-hover: #af9a8a;
	--color-wheel-topic-6-text: #c69c6d;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 1.5vh;
}

body {
	display: flex;
	align-items: center;
	font-family: "Futura Condensed PT Medium", Arial, sans-serif;
}

svg text {
	fill: white;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--color-background);

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: calc(var(--wheel-background-height-percent-of-page) * 1vh / 2);
		height: calc(var(--wheel-background-height-percent-of-page) * 1vh);
		top: 0;
		bottom: 0;
		margin: auto;
	}

	&::before {
		right: 50%;
		background: var(--color-wheel-background-left);
		border-radius: 100vh 0 0 100vh;
	}

	&::after {
		left: 50%;
		background: var(--color-wheel-background-right);
		border-radius: 0 100vh 100vh 0;
	}
}

.top-dot-buttons {
	position: absolute;
	margin: auto;
	width: 0;
	left: 0;
	right: 0;
	top: 0;
	--min-gap-from-wheel: calc(-1vh * var(--wheel-height-percent-of-page) / 2 * 1.5);
	--gap-from-wheel: min(calc(-50vw * 0.95), var(--min-gap-from-wheel));

	.instructions {
		position: absolute;
		white-space: nowrap;
		color: white;
		font-size: 1.5rem;
		left: var(--gap-from-wheel);
		margin-top: 1rem;
	}

	.column {
		display: flex;
		flex-direction: column;
		position: absolute;
		color: white;
		line-height: 1.1;
		margin-top: 4rem;

		.experience {
			display: flex;
			flex-direction: column;
			position: relative;
			padding: 0;
			margin: 0;
			border: 0;
			padding: 0.5rem;
			border-radius: 0.5rem;
			margin-left: calc(2.5rem + 1rem - 0.5rem);
			width: fit-content;
			cursor: pointer;
			background: none;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			color: inherit;
			transition: background-color 0.1s ease-out;

			&:hover {
				background: rgba(255, 255, 255, 0.1);
			}

			&:first-of-type {
				margin-top: -0.5rem;
			}

			span {
				white-space: nowrap;
				font-size: 1.33rem;
				text-align: left;

				&:first-of-type {
					color: var(--color-text, var(--color));
					font-size: 1.5rem;
				}
			}

			&::before {
				content: "";
				width: 2.5rem;
				height: 2.5rem;
				border: 0.1rem solid white;
				box-sizing: border-box;
				background: var(--color);
				border-radius: 50%;
				position: absolute;
				top: 0.5rem;
				left: calc(-1 * (2.5rem + 1rem - 0.5rem));
				box-shadow: 0 0 0 0rem white, 0 0 0 0rem var(--color);
				transition: box-shadow 0.5s ease-in-out;
			}

			&.active::before {
				box-shadow: 0 0 0 0.4rem white, 0 0 0 0.5rem var(--color);
			}
		}

		&.left {
			left: var(--gap-from-wheel);
		}

		&.right {
			right: var(--gap-from-wheel);
		}
	}
}

.perception-axis-label {
	display: flex;
	justify-content: space-between;
	position: absolute;
	margin: auto;
	width: 0;
	left: 0;
	right: 0;

	svg {
		overflow: visible;
		position: absolute;
		width: auto;
		height: calc(var(--wheel-height-percent-of-page) * 1vh * 0.3);
		margin: auto;
		top: 0;
		bottom: 0;

		&.left {
			fill: var(--color-wheel-background-left);
			right: calc(1vh * var(--wheel-background-height-percent-of-page) / 2);
			transform: scaleX(-1);
		}

		&.right {
			fill: var(--color-wheel-background-right);
			left: calc(1vh * var(--wheel-background-height-percent-of-page) / 2);
		}
	}

	div {
		position: absolute;
		padding: 6px 24px;
		border-radius: 16px;
		font-size: 1.666rem;
		line-height: 1.2;
		color: white;
		text-align: center;
		transform: translateY(-50%);
		--text-offset: calc(1vh * var(--wheel-background-height-percent-of-page) / 2 + 2.5vw);

		&.left {
			right: var(--text-offset);
			background: var(--color-wheel-background-left);

			&::after {
				content: "";
				right: -100%;
				transform: translateX(50%) scale(200%);
			}
		}

		&.right {
			left: var(--text-offset);
			background: var(--color-wheel-background-right);

			&::before {
				content: "";
				left: -100%;
				transform: translateX(-50%) scale(200%);
			}
		}

		&::before,
		&::after {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
			height: 0;
			border-top: 1px dotted #9c9fa1;
		}
	}
}

.bottom-info-labels {
	position: absolute;
	margin: auto;
	width: 0;
	left: 0;
	right: 0;

	.column {
		display: flex;
		flex-direction: column;
		position: absolute;
		color: white;
		line-height: 1.1;
		margin-top: 4rem;
		--min-gap-from-wheel: calc(-1vh * var(--wheel-height-percent-of-page) / 2 * 1.5);
		--gap-from-wheel: min(calc(-50vw * 0.95), var(--min-gap-from-wheel));

		.category {
			display: inline-block;
			font-size: 0;

			+ .category {
				margin-top: 1rem;
			}

			span {
				white-space: nowrap;
				font-size: 1.33rem;

				&:first-of-type {
					color: var(--title-color);
					margin-right: 0.5rem;
				}
			}

			&.side-by-side {
				display: flex;

				span:first-of-type {
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					span {
						display: block;
					}
				}
			}
		}

		&.left {
			left: var(--gap-from-wheel);
			--title-color: var(--color-wheel-background-left-text);
		}

		&.right {
			right: var(--gap-from-wheel);
			--title-color: var(--color-wheel-background-right-text);
		}
	}
}

.wheel {
	display: flex;
	justify-content: center;
	position: relative;
	pointer-events: none;
	width: 100%;
	height: calc(var(--wheel-height-percent-of-page) * 1vh);

	svg {
		display: block;
		position: absolute;
		width: auto;
		height: 100%;
		overflow: visible;

		text {
			pointer-events: none;
		}

		g {
			&.slices-background circle {
				filter: var(--circle-shadow);
				fill: rgba(0, 0, 0, 0.4);
				stroke: none;
			}

			&.slices {
				border-radius: 50%;
				pointer-events: auto;

				polygon {
					cursor: pointer;
					fill: var(--slice-color);
					transition: fill 0.1s ease-out;

					&:hover,
					&.category-hovered:not(.category-expanded) {
						fill: var(--slice-color-hover);
					}
				}
			}

			&.experience-stats {
				fill: white;
				stroke: var(--experience-color);
				transition: stroke 0.5s ease-in-out;
				pointer-events: auto;

				circle {
					r: 24px;
					transition: r 0.5s ease-in-out;
					filter: var(--circle-shadow);
				}

				line {
					stroke-width: 2px;
					stroke-linecap: round;
					stroke-dasharray: 60px 1000px;
					stroke-dashoffset: 60px;
					transition: stroke-dashoffset 0.5s ease-in-out;
				}

				text {
					fill: black;
					stroke: none;
					font-size: 4px;
					opacity: 0;
					transition: transform 0.5s ease-in-out, opacity 0.25s ease-in-out;
				}

				.experience-stats-open & {
					circle {
						r: 88px;
					}

					line {
						stroke-dashoffset: calc((60 - 28 - min(var(--stat-value) * 6 - 1, 58)) * 1px);
					}

					text {
						opacity: 1;
						transition: transform 0.5s ease-in-out, opacity 0.25s 0.25s ease-in-out;
					}
				}
			}

			&.category-separators {
				overflow: visible;
			}

			&.category-labels {
				text-anchor: middle;
				font-size: 6px;
			}

			&.rings {
				transition: opacity 0.5s ease-in-out;

				circle {
					opacity: 0.15;
					fill: none;
					stroke: white;
					stroke-width: 0.2px;
					transition: stroke 0.5s ease-in-out, opacity 0.5s ease-in-out;
				}

				text {
					font-size: 4px;
					fill: white;
					transition: fill 0.5s ease-in-out;

					+ text {
						text-anchor: end;
					}
				}

				.experience-stats-open & {
					circle {
						stroke: black;

						&.ring-10 {
							opacity: 0;
						}
					}

					text {
						fill: black;
					}
				}

				.slice-content-open & {
					opacity: 0;
				}
			}

			&.slice-content {
				transition: stroke 0.5s ease-in-out;
				pointer-events: auto;

				.shadow {
					filter: var(--circle-shadow);
				}

				circle {
					r: 24px;
					transition: r 0.5s ease-in-out;

					&.color-outline {
						fill: none;
						stroke: var(--slice-content-color);
						stroke-width: 2px;
						transition: r 0.5s ease-in-out, stroke 0.5s ease-in-out;
					}

					&.white-outline {
						fill: none;
						stroke: white;
						stroke-width: 12px;
					}

					&.white-inner {
						fill: none;
						stroke: white;

						&.wide {
							stroke-width: 1.5px;
							r: calc(24px - 13px);
							transition-delay: 20ms;
						}

						&.thin {
							stroke-width: 0.5px;
							r: calc(24px - 18.5px);
							transition-delay: 40ms;
						}
					}

					&.inner {
						r: 24px;
					}

					&.outer {
						r: 24px;
					}
				}

				#slice-content-open-slice-mask polygon {
					transition: transform 0.5s ease-in-out;
				}

				#slice-content-shadow-shell-mask circle {
					fill: black;
					r: 22px;
				}

				image {
					width: calc(88px * 2);
					height: calc(88px * 2);
					x: -88px;
					y: -88px;
					filter: brightness(100%);
					transition: filter 0.25s ease-in-out;

					&.fade-out {
						filter: brightness(0%);
					}
				}

				.slice-content-text-quadrant {
					fill: white;
					width: 88px;
					height: 88px;
					x: -88px;
					y: 0;
				}

				foreignObject div {
					position: relative;

					svg {
						position: relative;
						overflow: hidden;
						visibility: hidden;

						&.left {
							float: left;
							shape-outside: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 58 88' width='58' height='88' class='left'%3E%3Cdefs%3E%3Cmask id='slice-content-text-shape-outside-mask-left'%3E%3Crect width='100' height='100' x='-12' fill='white' /%3E%3Ccircle style='r: 68px' cx='88' cy='0' fill='black' /%3E%3C/mask%3E%3C/defs%3E%3Crect width='100' height='100' x='-12' fill='black' mask='url(%23slice-content-text-shape-outside-mask-left)' /%3E%3Ccircle style='r: 30px' cx='88' cy='0' fill='black' /%3E%3C/svg%3E");
						}

						&.right {
							float: right;
							shape-outside: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='58 0 30 30' width='30' height='30' class='right'%3E%3Cdefs%3E%3Cmask id='slice-content-text-shape-outside-mask-right'%3E%3Crect width='100' height='100' x='-12' fill='white' /%3E%3Ccircle style='r: 68px' cx='88' cy='0' fill='black' /%3E%3C/mask%3E%3C/defs%3E%3Crect width='100' height='100' x='-12' fill='black' mask='url(%23slice-content-text-shape-outside-mask-right)' /%3E%3Ccircle style='r: 30px' cx='88' cy='0' fill='black' /%3E%3C/svg%3E");
						}

						&.bottom {
							float: left;
							shape-outside: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 60 88 28' width='88' height='28' class='right'%3E%3Cdefs%3E%3Cmask id='slice-content-text-shape-outside-mask-right'%3E%3Crect width='100' height='100' x='-12' fill='white' /%3E%3Ccircle style='r: 68px' cx='88' cy='0' fill='black' /%3E%3C/mask%3E%3C/defs%3E%3Crect width='100' height='100' x='-12' fill='black' mask='url(%23slice-content-text-shape-outside-mask-right)' /%3E%3Ccircle style='r: 30px' cx='88' cy='0' fill='black' /%3E%3C/svg%3E");
						}
					}

					.slice-content-text {
						margin: 0;
						width: 100%;
						height: 88px;
						font-size: 6px;
						hyphens: auto;
						box-sizing: border-box;
						padding-top: 5px;
						padding-right: 5px;
						line-height: 1;
						opacity: 1;
						transition: opacity 0.25s ease-in-out;

						&.fade-out {
							opacity: 0;
						}
					}
				}

				.slice-content-open & {
					circle {
						r: 88px;

						&.white-inner {
							&.wide {
								r: calc(88px - 12px);
							}

							&.thin {
								r: calc(88px - 16px);
							}
						}

						&.inner {
							r: 70px;
						}

						&.outer {
							r: 88px;
						}
					}

					#slice-content-shadow-shell-mask circle {
						r: 86px;
					}
				}
			}

			&.hub {
				pointer-events: auto;

				.slice-content-open &,
				.experience-stats-open &,
				.slices-open & {
					cursor: pointer;
				}

				circle {
					filter: var(--circle-shadow);
				}

				text {
					text-anchor: middle;
					font-size: 7px;
				}

				.experience-name {
					fill: var(--color);
					opacity: 0;
					transition: opacity 0.5s ease-in-out;

					&.open {
						opacity: 1;
					}
				}

				.project-name {
					transition: transform 0.5s ease-in-out;
				}

				.experience-name.open ~ .project-name {
					transform: translateY(-0.55em);
				}
			}
		}
	}
}
